body {
 font-family: Arial, Sans-Serif;
 margin: 0;
 padding: 0;
 background-color: #fff;
}

header {
 background-color: #962;
 color: #fff;
 padding: 10px;
 
 border-bottom-style: solid;
 border-bottom-color: #000;
 border-bottom-width: 3px;
}

header h1 {
 font-size: 38px;
 margin: 1px;
 display: inline-block;
}

header h2 {
 margin: 1px;
 display: inline-block;
}

header nav ul {
 list-style: none;
 padding: 0;
}

header nav ul li {
 display: inline;
 margin-right: 10px;
}

a {
 color: #000;
 text-decoration: underline;
}

main {
 padding: 20px;
 padding-top: 10px;
 background-color: white;
 overflow: scroll;
}

main h2 {
 font-weight: 400;
}

main h3,
h4 {
 font-weight: 500;
}

h3 {
 text-decoration: underline;
}

.plans {
 border: 1px solid #ccc;
 border-radius: 10px;
 padding: 10px;
 margin-bottom: 10px;
 background-color: #FFF;
 z-index: 10;
 overflow: hidden;
}

.plans p {
 margin-left: 9px;
 z-index: 9;
}

.plans section {
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 z-index: 8;
 width: 80%;
 padding: 5%;
 border-radius: 10%;
 background-image: linear-gradient(to right, #907000, #960);
 color: #FFF;
 display: none;
}

.plans section::hover {
 transition: 0.3s;
}

.plans p a {
 text-decoration: none;
 color: #fff;
}

.viewButton {
 padding: 10px 20px;
 display: inline-block;
 border: none;
 border-radius: 10px;
 text-align: center;
 font-size: 16px;
 background-color: #973;
 color: #000;
 cursor: pointer;
}


.close {
 position: fixed;
 z-index: 20;
 top: 32%;
 right: 10%;
 border-radius: 20%;
 height: 55px;
 width: 55px;
 background: white;
 color: #000;
 font-weight: 800;
 border-style: none;
 font-size: 30px;
}
.actionBtn{
 margin: 4px 2px 4px auto;
width: max-content;
}

footer {
 text-align: center;
 padding: 10px;
 background-color: #973;
 color: white;
}