* {
 margin: 0px;
 padding: 0px;
 color: white;
}

:root {
 --white: #fff;
 --primary: #734C00;
 --primary: #6B3100;
 --primary: #8B4100;
 
 
 
 
 
 --Hclr: var(--white);
 --Hbg: var(--primary);
 --Hhgt: 4em;
}


/*Header Edits*/

.appHeader {
 height: var(--Hhgt);
 display: grid;
 place-items: center;
 grid-template-columns: auto;
 grid-template-areas: 'm h h h h i';
 overflow: hidden;
 
 background-color: var(--Hbg);
 color: var(--Hclr);
 
 margin-bottom: 10vw;
}

.menuBtn {
 grid-area: m;
}

.appName {
 grid-area: h;
 font-size: 1.5em;
 font-style: italic;
}

.appLogo {
 grid-area: i;
 
}

.appLogo img {
 width: 3em;
 border-radius: 30%;
 filter: #202020;
}

/*Body Edits*/
.appBody {
 min-height: 100%;
}

#networkContainer {
 width: 70vw;
 margin: auto;
}

.networkContainers {
 background: var(--primary);
 
 margin: 10vw auto;
 
 height: 4em;
 padding: 0.4em;
 border-radius: 1.6em;
 
 place-items: center;
 display: grid;
 grid-template-columns: auto;
 grid-template-areas: 'n n a a';
}

.networkName {
 grid-area: n;
 text-align: left;
 margin: auto auto auto 1em;
 font-style: italic;
 font-size: 1.3em;
}

.buyActionBtn {
 grid-area: a;
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 0.9em;
}

.buyActionBtn span {
 display: grid;
 background: transparent;
 height: 2em;
 width: 2em;
 place-items: center;
}

.buyActionBtn span::after {
 display: block;
 position: absolute;
 z-index: 1;
 content: " ";
 
 background: #FFFFFF33;
 height: 2em;
 width: 2em;
 border-radius: 30%;
 border: solid #FFFFFF 0.0000000001px;
}

.buyActionBtn img {
 height: 1em;
 z-index: 2;
}